pipeline/pl_punch_data_load.json
{
	"name": "pl_punch_data_load",
	"properties": {
		"activities": [
			{
				"name": "execute_pl_schema_validation_attendance",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_schema_validation_attendance",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SourceFileSystem": {
							"value": "@pipeline().parameters.SourceFileSystem",
							"type": "Expression"
						},
						"SourceDirectory": {
							"value": "@pipeline().parameters.SourceDirectory",
							"type": "Expression"
						},
						"SourceFileName": {
							"value": "@pipeline().parameters.SourceFileName",
							"type": "Expression"
						},
						"ReferenceFileSystem": "bronze",
						"ReferenceDirectory": "audax/reference",
						"ReferenceFileName": "punch_records_schema_reference.csv"
					}
				}
			},
			{
				"name": "If_evaluate_schema_matched_condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "execute_pl_schema_validation_attendance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('execute_pl_schema_validation_attendance').output.pipelineReturnValue.is_schema_correct, true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail_schema_validation",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@pipeline().parameters.FailMessage",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@pipeline().parameters.ErrorCode",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "execute_pl_audax_attendance_data_silver_load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_audax_punch_data_silver_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceFileSystem": {
										"value": "@pipeline().parameters.SourceFileSystem",
										"type": "Expression"
									},
									"SourceDirectory": {
										"value": "@pipeline().parameters.SourceDirectory",
										"type": "Expression"
									},
									"SourceFileName": {
										"value": "@pipeline().parameters.SourceFileName",
										"type": "Expression"
									},
									"BatchId": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"SinkFileSystem": {
										"value": "@pipeline().parameters.SinkFileSystem",
										"type": "Expression"
									},
									"SinkDirectory": {
										"value": "@pipeline().parameters.SinkDirectory",
										"type": "Expression"
									},
									"ArchiveDirectory": {
										"value": "@pipeline().parameters.ArchiveDirectory",
										"type": "Expression"
									},
									"KeyColumns": {
										"value": "@pipeline().parameters.KeyColumns",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFileSystem": {
				"type": "String",
				"defaultValue": "bronze"
			},
			"SourceDirectory": {
				"type": "String",
				"defaultValue": "audax/punch_records"
			},
			"SourceFileName": {
				"type": "String",
				"defaultValue": "DailyAttendanceLogsDetails-05-Feb-24_to_09-Feb-24.csv"
			},
			"SinkFileSystem": {
				"type": "string",
				"defaultValue": "silver"
			},
			"SinkDirectory": {
				"type": "string",
				"defaultValue": "audax/punch_records"
			},
			"ArchiveDirectory": {
				"type": "string",
				"defaultValue": "archive/audax/punch_records"
			},
			"KeyColumns": {
				"type": "array",
				"defaultValue": [
					"date",
					"employee_code"
				]
			},
			"FailMessage": {
				"type": "string",
				"defaultValue": "schema validation failed"
			},
			"ErrorCode": {
				"type": "string",
				"defaultValue": "400"
			}
		},
		"folder": {
			"name": "ResourceManagement/PunchData"
		},
		"annotations": []
	}
}