pipeline/pl_zoho_employees_data_silver_load.json
{
	"name": "pl_zoho_employees_data_silver_load",
	"properties": {
		"activities": [
			{
				"name": "lkp_json_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_gen2_json",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.SourceFileSystem",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "df_execute_df_zoho_employees_data",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "lkp_json_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_zoho_employees_data_silver_load",
						"type": "DataFlowReference",
						"parameters": {
							"InputString": {
								"value": "'@{replace(replace(string(activity('lkp_json_file').output.firstRow), '''', ''), '\\', '')}'",
								"type": "Expression"
							},
							"FileSystem": {
								"value": "'@{pipeline().parameters.SinkFileSystem}'",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "'@{pipeline().parameters.SinkFolderPath}'",
								"type": "Expression"
							},
							"KeyColumns": {
								"value": "@pipeline().parameters.KeyColumns",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 16,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "execute_pl_archive_file",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "df_execute_df_zoho_employees_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_archive_file",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SourceFileSystem": {
							"value": "@pipeline().parameters.SourceFileSystem",
							"type": "Expression"
						},
						"SinkFileSystem": {
							"value": "@pipeline().parameters.SourceFileSystem",
							"type": "Expression"
						},
						"SourceDirectory": {
							"value": "@pipeline().parameters.SourceDirectory",
							"type": "Expression"
						},
						"SinkDirectory": {
							"value": "@pipeline().parameters.ArchiveDirectory",
							"type": "Expression"
						},
						"SourceFileName": {
							"value": "@pipeline().parameters.SourceFileName",
							"type": "Expression"
						},
						"SinkFileName": {
							"value": "@pipeline().parameters.SourceFileName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"SourceFileSystem": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "audax/zoho/employee_data/all_employees"
			},
			"SourceFileName": {
				"type": "string",
				"defaultValue": "all_employees_data2.json"
			},
			"SinkFileSystem": {
				"type": "string",
				"defaultValue": "silver"
			},
			"SinkFolderPath": {
				"type": "string",
				"defaultValue": "audax/zoho/employees_data"
			},
			"ArchiveDirectory": {
				"type": "string",
				"defaultValue": "archive/audax/zoho/employee_data"
			},
			"KeyColumns": {
				"type": "array",
				"defaultValue": [
					"employee_id",
					"email_id",
					"zoho_id"
				]
			}
		},
		"variables": {
			"a": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ResourceManagement/Zoho/Employee"
		},
		"annotations": []
	}
}