pipeline/pl_zoho_holidays_data_silver_load.json
{
	"name": "pl_zoho_holidays_data_silver_load",
	"properties": {
		"activities": [
			{
				"name": "Execute_Pipeline_pl_zoho_authorization_access_token",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_zoho_authorization_access_token",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LookupAccessTokenZoho",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute_Pipeline_pl_zoho_authorization_access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_gen2_delimited",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.LookupFileSystem",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.LookupDirectory",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.LookupFileName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "execute_df_zoho_api_get_holidays",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LookupAccessTokenZoho",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_zoho_api_get_holidays",
						"type": "DataFlowReference",
						"parameters": {
							"ZohoAccessToken": {
								"value": "'@{activity('LookupAccessTokenZoho').output.firstRow.access_token}'",
								"type": "Expression"
							},
							"SinkFileSystem": {
								"value": "'@{pipeline().parameters.SinkFileSystem}'",
								"type": "Expression"
							},
							"SinkFolderPath": {
								"value": "'@{pipeline().parameters.SinkFolderPath}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SourceRestApi": {
								"BaseUrl": {
									"value": "@pipeline().parameters.BaseUrl",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"LookupFileSystem": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"LookupDirectory": {
				"type": "string",
				"defaultValue": "audax/zoho/access_token"
			},
			"LookupFileName": {
				"type": "string",
				"defaultValue": "zoho_api_access_token.csv"
			},
			"BaseUrl": {
				"type": "string",
				"defaultValue": "https://people.zoho.in/people/api/leave/v2/holidays/get"
			},
			"SinkFolderPath": {
				"type": "string",
				"defaultValue": "audax/zoho/holidays"
			},
			"SinkFileSystem": {
				"type": "string",
				"defaultValue": "silver"
			}
		},
		"folder": {
			"name": "ResourceManagement/Zoho/Holidays"
		},
		"annotations": []
	}
}